# All ignore
*
!*.md
!*.sh
!.gitignore

!/.github/
!/.github/instructions/
!/.vscode/
!/.vscode/settings.json
!/export/
!/examples/
!/import-files/
!/import-files/.gitkeep
!/script/

!/.copilot-commit-message-instructions.md
!/.dockerignore
!/.env.example
!/compose.yaml
!/Dockerfile
